.line {
    width: 142px;
    height: 2px;
    line-height: 1px;
    border: 1px dotted #bbb;
    position: absolute;
    text-align: center;
    pointer-events: none;
}

.line p{
    background-color: #fff;
    display: inline-block;
    margin: auto auto;
}

.point  {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #eff;
    border: solid 1px #000;
    line-height: 30px;
    text-align: center;
    position: absolute;
}

.result {
    position: absolute;
    left: 40px;
    top: -10px;
    word-wrap: normal;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}